/**
 * Created by Samuel Gratzl on 11.02.2016.
 */

main {
  display: flex;
  flex-direction: row;

}
main > section {
  flex: 1 1 auto;
}


/**
 * default styles for scatterPlot circles
 */
#scatterPlot circle {
  fill: steelblue;
  opacity: 0.8;
}

/**
 * default styles for all axes
 */
g.axis line, g.axis path {
  stroke-width: 1;
  stroke: black;
  fill: none;
}

/**
 * default styles for bar chart bars
 */
#barChart rect {
  fill: steelblue;
}

/**
 * upon mouse over
 */
#barChart rect:hover, #scatterPlot circle:hover {
  fill: orange;
}
/**
 * upon selected item
 */
#barChart rect.selected, #scatterPlot circle.selected {
  fill: darkorange;
}
